* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Text Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #d7ffee; 
}

/* Header Styles */
header {
    background-color: #75abc4; 
    padding: 20px;
    text-align: center;
    color: #fbff00;
}

header h1 {
    font-size: 2.5em;
    padding: 20px;
}

/* Navigation Styles */
nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ff9900; 
    border-radius: 5px;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #4e4e4e;
}

/* Section Styles */
section {
    margin: 20px ;
}
h3{
    color: #d87eeb;
    padding: 20px;
}
h2 {
    color: #fc69ad;
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color:#fbff00;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

/* Responsive Styles */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 5px 0;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }
}
